:root {
  --colors-text-primary-type: color;
  --colors-text-primary-value: #111827;
  --colors-text-secondary-type: color;
  --colors-text-secondary-value: #6b7280;
  --colors-error-type: color;
  --colors-error-value: #ef4444;
  --colors-primary-type: color;
  --colors-primary-value: #555555;
  --colors-primary-description: Primary brand color;
  --colors-success-type: color;
  --colors-success-value: #10b981;
  --colors-warning-type: color;
  --colors-warning-value: #f59e0b;
  --colors-secondary-type: color;
  --colors-secondary-value: #6b7280;
  --colors-background-subtle-type: color;
  --colors-background-subtle-value: #f9fafb;
  --colors-background-default-type: color;
  --colors-background-default-value: #ffffff;
  --primary-type: color;
  --primary-value: #ef5da8;
  --spacing-lg-type: number;
  --spacing-lg-value: 24;
  --spacing-md-type: number;
  --spacing-md-value: 16;
  --spacing-sm-type: number;
  --spacing-sm-value: 8;
  --spacing-xl-type: number;
  --spacing-xl-value: 32;
  --spacing-xs-type: number;
  --spacing-xs-value: 4;
  --textstyles-body-type: typography;
  --textstyles-body-value-fontsize: 13;
  --textstyles-body-value-textcase: ORIGINAL;
  --textstyles-body-value-fontfamily: Work Sans;
  --textstyles-body-value-fontweight: Regular;
  --textstyles-body-value-lineheight-unit: AUTO;
  --textstyles-body-value-letterspacing: -2;
  --textstyles-body-value-textdecoration: NONE;
  --textstyles-header 1-type: typography;
  --textstyles-header 1-value-fontsize: 34;
  --textstyles-header 1-value-textcase: ORIGINAL;
  --textstyles-header 1-value-fontfamily: Work Sans;
  --textstyles-header 1-value-fontweight: Bold;
  --textstyles-header 1-value-lineheight-unit: AUTO;
  --textstyles-header 1-value-letterspacing: -2;
  --textstyles-header 1-value-textdecoration: NONE;
  --textstyles-header 2-type: typography;
  --textstyles-header 2-value-fontsize: 20;
  --textstyles-header 2-value-textcase: ORIGINAL;
  --textstyles-header 2-value-fontfamily: Work Sans;
  --textstyles-header 2-value-fontweight: Bold;
  --textstyles-header 2-value-lineheight-unit: AUTO;
  --textstyles-header 2-value-letterspacing: -2;
  --textstyles-header 2-value-textdecoration: NONE;
  --colorstyles-iris-60-type: color;
  --colorstyles-iris-60-value: #a5a6f6;
  --colorstyles-iris-80-type: color;
  --colorstyles-iris-80-value: #7879f1;
  --colorstyles-iris-100-type: color;
  --colorstyles-iris-100-value: #5d5fef;
  --colorstyles-fuschia-60-type: color;
  --colorstyles-fuschia-60-value: #fcddec;
  --colorstyles-fuschia-80-type: color;
  --colorstyles-fuschia-80-value: #f178b6;
  --colorstyles-fuschia-100-type: color;
  --colorstyles-fuschia-100-value: #ef5da8;
  --borderradius-lg-type: number;
  --borderradius-lg-value: 12;
  --borderradius-md-type: number;
  --borderradius-md-value: 8;
  --borderradius-sm-type: number;
  --borderradius-sm-value: 4;
  --borderradius-full-type: number;
  --borderradius-full-value: 9999;
}
